body {
  margin: 0;
  border: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(222, 214, 214);
  display: flex;
  flex-direction: column;
}


/*Cabeçalho*/
header {
  margin-top: 0;
  background-color: #0c93aa;
  width: 100%;
  height: 70px;
  text-align: center;
  justify-content: space-between;
}

header nav {
  align-self: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

header nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 25px 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 23px;
}

header nav a:hover {
  color: #23a98e;
}

/*Fim do header*/
#container {
  text-align: center;
}


#btnObterDados {
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  background-color: #47dfb7;
  color: white;
  font-size: 17px;
  text-shadow: 1px 2px 2px #09c2e2;
  cursor: pointer;
}

#div-erro {
  background-color: rgb(12, 7, 7);
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  display: none;
  margin-top: 25px;
}

#mapa {
  margin-top: 70px;
  margin-left: 25%;
  margin-bottom: 40px;
  width: 800px;
  height: 500px;
  border-radius: 10px;
}

#pizza {
  background-color: rgb(222, 214, 214);
}

#coisas {
  display: flex;
  flex-direction: row;
}

#tabela {
  margin-top: 50px;
}





#texto-inf {
    display: flex;
    margin: 20px;
}

#img-frn {
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

#img-sobre {
    width:550px;
    margin-right: 90px;
    margin-top: 100px;
    
}

#texto-sobre {
    width: 800px;
}

#texto-sobre p {
    text-align: left;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#texto-sobre h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}


#objetivo-frn {
    display: flex;
    margin-top: 50px;
    width: 800px;
}

#img-obj {
    width: 100px;
    margin-left: 30px;
    margin-top: 100px;
    padding: 10px;
}

#texto-objetivo {
    margin-right: 10px;
    padding: 0px;
    width: 800px;
    margin-top: 50px;
    margin-left: 20px;
}

#foto-obj {
    width: 600px;
    border-radius: 10px;
}

#texto-objetivo p {
    text-align: left;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#container-frn {
    padding: 20px 100px 100px 100px;
    text-align: center;
}

.destaques {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.destaques-ferramenta {
    padding: 0px 15px;
}



#frm-container-sbr {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    
}

h1 {
  background-color: #25b1db;
  color: white;
}

#p1 {
  text-align: justify;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  position: fixed;
  margin-top: auto;
}